* {
box-sizing: border-box;
margin: 0px;
padding: 0px;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}



.navbar-nav .nav-link{
  min-width: 130px;
  font-weight: 1200;
  padding: 10px;
  margin: 5px 5px;
  color: rgba(255,102,196)!important;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  text-align: right;
}

.navbar-nav .nav-link:hover{
  cursor: pointer;
  color: rgb(248, 10, 157)!important;
}


/* @Sections */


#main-body {
  background-color:paleturquoise;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 20px;
  font-family: monospace;
  color:rgba(255,102,196);
   background: url("https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#second-body {
  background-color:rgba(255,102,196);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
  color: white;

}

#footer {
  background-color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: monospace;
  color: white;
}

footer { 
  width:100%; 
  min-height:250px; 
  padding:10px 0px 25px 0px;
}

.footer-section {
  list-style-type:none;
  padding:0px;
  display:table;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  color:rgba(255,204,214);
}
.footer-section li {display:inline; color:rgba(255,204,214);}
.footer-section li a { margin:0 12px; color:rgba(255,204,214);}
.footer-socials {display:table; margin:15px auto 0 auto; list-style-type:none;}
.footer-socials li {padding-left:12px; padding-top:10px; float:left;color:rgba(255,204,214);}
.footer-socials li a {border:1px solid #CCC; padding:8px;border-radius:50%; color:rgba(255,102,196);}
.footer-socials li i {width:20px; height:12px; text-align:center; color:rgba(255,102,196);}



/* @Pages */
.home{
  height: 30vh !important;
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: center
}

.btn{
  background-color: rgba(255,102,196) !important;
  color: rgba(255,204,214) !important;
  border-color:rgba(255,102,196)  !important;
  height: 5vh !important;
  font-size: 14px;

}
.btn:hover{
   height: 5vh !important;
    font-size: 14px;
  cursor: pointer;
  background-color: rgba(255,102,196) !important;
  color: rgb(173, 114, 114);
  box-shadow: -7px -7px 20px 0 rgba(255,102,196,0.7), 7px 7px 20px 0 rgba(255,192,203,0.2) !important;
}

.entries {
  display: inline-block;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.entries2 {
  display: inline-block;
  justify-content: center;
  margin-top: 3%;
  align-items: center;
  text-align: center
}

.home{
  height: 30vh !important;
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: center
}
